/*
 * This file is part of prose-pod-dashboard
 *
 * Copyright 2024, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > FONTS
 * **************************************************************************/

// Outfit
@font-face {
  font-weight: $font-weight-extra-light;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_extra_light.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-light;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_light.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-regular;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_regular.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-medium;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_medium.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-bolder;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_semibold.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-bold;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_bold.woff2") format("woff2");
}
