/*
 * This file is part of prose-pod-dashboard
 *
 * Copyright 2024, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > PAGE
 * **************************************************************************/

html {
  font-size: $font-size-page;
  font-family: $font-family-default, Helvetica, Arial, sans-serif;
  line-height: ($font-size-page + 2px);

  @include font-smoothing(antialiased);
}
