/*
 * This file is part of prose-pod-dashboard
 *
 * Copyright 2024, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > INLINE
 * **************************************************************************/

.u-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.u-select {
  user-select: text !important;
}
