/*
 * This file is part of prose-pod-dashboard
 *
 * Copyright 2024, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

// --> BASE BUTTON <--

$size-base-button-border-radius: 7px;

// --> BASE ACTION <--

$size-base-action-height: 34px;
$size-base-action-padding-sides: 8px;

// --> FORM FIELD <--

$size-form-field-padding-block: 1px;
$size-form-field-outline-width: 2px;
$size-form-field-border-radius: 10px;

$size-form-field-medium-padding-sides: 10px;
$size-form-field-mid-medium-padding-sides: 14px;
$size-form-field-large-padding-sides: 48.5px;
$size-form-field-mid-large-padding-sides: 22px;
$size-form-field-ultra-large-padding-sides: 24px;

$size-form-field-medium-input-line-height: 25px;
$size-form-field-mid-medium-input-line-height: 32px;
$size-form-field-large-input-line-height: 42px;
$size-form-field-mid-large-input-line-height: 48px;
$size-form-field-ultra-large-input-line-height: 60px;

// --> FORM SELECT <--

$size-form-select-padding-block: 0px;
$size-form-select-border-width: 1px;
$size-form-select-border-radius: ($size-form-field-border-radius - 3px);
$size-form-select-search-height: 32px;
$size-form-select-search-icon-offset: 21px;
$size-form-select-options-padding-block: 0px;
$size-form-select-options-padding-inline: 14px;
$size-form-select-options-menu-padding-block: 5px;
$size-form-select-options-menu-padding-inline: 15px;

$size-form-select-medium-padding-start: 19px;
$size-form-select-medium-padding-end: 10px;
$size-form-select-mid-medium-padding-start: 25px;
$size-form-select-mid-medium-padding-start: 11px;
$size-form-select-large-padding-start: 26.5px;
$size-form-select-large-padding-end: 12px;
$size-form-select-mid-large-padding-start: 36.5px;
$size-form-select-mid-large-padding-end: 15px;
$size-form-select-ultra-large-padding-start: 46px;
$size-form-select-ultra-large-padding-end: 16px;

$size-form-select-medium-line-height: $size-form-field-medium-input-line-height;
$size-form-select-mid-medium-line-height: $size-form-field-mid-medium-input-line-height;
$size-form-select-large-line-height: $size-form-field-large-input-line-height;
$size-form-select-mid-large-line-height: $size-form-field-mid-large-input-line-height;
$size-form-select-ultra-large-line-height: $size-form-field-ultra-large-input-line-height;

// --> FORM CHECKBOX <--

$size-form-checkbox-small-size: 18px;
$size-form-checkbox-medium-size: 24px;
