/*
 * This file is part of prose-pod-dashboard
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-normal: #2490f0;
$color-base-blue-ultra-dark: #1C293B;
$color-base-green-normal: #05c02b;
$color-base-grey-dark: #495462;
$color-base-grey-light: #d6dae3;
$color-base-grey-normal: #949eb1;
$color-base-grey-ultra-light: #f5f6fa;
$color-base-orange-normal: #fc8227;
$color-base-purple-light: #c6c6e1;
$color-base-purple-normal: #392ca0;
$color-base-purple-ultra-light: #fbfbfd;
$color-base-red-normal: #dd2f2f;
$color-base-yellow-light: #fffff2;

// Borders

$color-border-primary: #0000001A; // 10%
$color-border-secondary: #0000000F; // 6%

// Backgrounds
$color-background-primary: #fdfdfe;

// Texts

$color-text-primary: #000000;
$color-text-secondary: #1c293b8C; // 55%
$color-text-tertiary: #1c293b73; // 45%
$color-text-reverse: #ffffff;
